.msg-box {
  width: 310px;
  height: 355px;
}
.manual-box {
  width: 310px;
  height: 415px;
}

.msg-box,
.manual-box {
  overflow-y: auto; 
  margin: 20px auto 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 5px;
  margin-bottom: 30px;
}

.msg-text,
.manual-text,
.answer {
  color: white;
  size: bold;
}

.msg-box::-webkit-scrollbar,
.manual-box::-webkit-scrollbar {
  width: 0.5em;
}
.msg-box::-webkit-scrollbar-thumb,
.msg-box::-webkit-scrollbar-track,
.manual-box::-webkit-scrollbar-thumb,
.manual-box::-webkit-scrollbar-track {
  background-color: transparent;
}