/* 키워드 영역 */
.submit-box {
  width: 310px;
  height: 295px;
  overflow-y: auto; 
  margin: 20px auto 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 5px;
  margin-bottom: 30px;
  position: relative;
}

p,
.output {
  color: white;
}

.output {
  font-size: 20px;
}

.inner-box {
  position: absolute;
  bottom: 10px;
}

.input-box {
  position: relative;
}

.input-box button{
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  background-color: #aaa;
  color: white;
  font-display: center;
  border: none;
  font-size: 20px;
}

.input-value {
  width:300px;
  height:40px;
  font-size:20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid white;
  color: white;
}