.profile-section {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

.profile-section:first-child {
  position: relative;
}

#image_container {
  width: 84px;
  height: 84px;
  background-color: #aaa;
  border-radius: 50px;
  overflow: hidden;
}

#image_container img {
  width: 84px;
  height: 84px;
}

#image_label {
  margin-left: 3px;
  margin-top: 3px;
}

.name {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 120px;
}

.nickname,
.memo {
  width: 200px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-weight: bold;
  border: none;
}

.nickname {
  height: 20px;
  margin-bottom: 10px;
}
.memo {
  height: 40px;
  resize: none;
}

.submit-box {
  width: 310px;
  height: 230px;
  overflow-y: auto; 
  margin: 20px auto 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 5px;
  margin-bottom: 30px;
  position: relative;
}

p,
.output {
  color: white;
}

.output {
  font-size: 20px;
}

.box-down {
  position: absolute;
  bottom: 10px;
}

.search-box {
  position: relative;
}

.search-box button {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  background-color: #aaa;
  color: white;
  font-display: center;
  border: none;
  font-size: 20px;
}

.search {
  width:300px;
  height:40px;
  font-size:20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid white;
  color: white;
}